# .gitignore

# Исключаем файлы конфигурации с секретными данными
.env
*.env

# Исключаем миграции
**/migrations/*.py
**/migrations/*.pyc
**/migrations/__init__.py

# Исключаем временные файлы Python
*.pyc
*.pyo
__pycache__

# Исключаем виртуальные окружения
.venv/
venv/
ENV/
env/

# Исключаем файлы для IDE
.idea/
.vscode/

# Исключаем скомпилированные файлы
*.log